/*
https://coolors.co/cb997e-eddcd2-fff1e6-f0efeb-ddbea9-a5a58d-b7b7a4

*/
:root {
  /* CSS HEX */
  --antique-brass: #cb997eff;
  --champagne-pink: #eddcd2ff;
  --linen: #fff1e6ff;
  --isabelline: #f0efebff;
  --desert-sand: #ddbea9ff;
  --artichoke: #a5a58dff;
  --ash-gray: #b7b7a4ff;

  /* CSS HSL */
  --antique-brass: hsla(21, 43%, 65%, 1);
  --champagne-pink: hsla(22, 43%, 88%, 1);
  --linen: hsla(26, 100%, 95%, 1);
  --isabelline: hsla(48, 14%, 93%, 1);
  --desert-sand: hsla(24, 43%, 76%, 1);
  --artichoke: hsla(60, 12%, 60%, 1);
  --ash-gray: hsla(60, 12%, 68%, 1);

  /* https://coolors.co/22223b-4a4e69-9a8c98-c9ada7-f2e9e4 */
  /* CSS HEX */
  --space-cadet: #22223bff;
  --independence: #4a4e69ff;
  --heliotrope-gray: #9a8c98ff;
  --silver-pink: #c9ada7ff;
  --isabelline: #f2e9e4ff;

  /* CSS HSL */
  --space-cadet: hsla(240, 27%, 18%, 1);
  --independence: hsla(232, 17%, 35%, 1);
  --heliotrope-gray: hsla(309, 6%, 58%, 1);
  --silver-pink: hsla(11, 24%, 72%, 1);
  --isabelline: hsla(21, 35%, 92%, 1);

  /* https://coolors.co/000f38-2f4f4f-9c7c38-eae0cc-cfcbcb */

  /* CSS HEX */
  --oxford-blue: #000f38ff;
  --dark-slate-gray: #2f4f4fff;
  --metallic-sunburst: #9c7c38ff;
  --bone: #eae0ccff;
  --light-gray: #cfcbcbff;

  /* CSS HSL */
  --oxford-blue: hsla(224, 100%, 11%, 1);
  --dark-slate-gray: hsla(180, 25%, 25%, 1);
  --metallic-sunburst: hsla(41, 47%, 42%, 1);
  --bone: hsla(40, 42%, 86%, 1);
  --light-gray: hsla(0, 4%, 80%, 1);
}

/* * {
  background-color: var(--bone);
  color: var(--oxford-blue);
} */

/* Global styles
--------------------------------*/
body {
  color: var(--oxford-blue);
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
img {
  width: 300px;
}
a {
  color: var(--metallic-sunburst);
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 60px;
  line-height: 1;
}
h2 {
  font-size: 35px;
}
h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0;
}
.content-wrap {
  width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}

/* Profile
--------------------------------*/
header {
  background-color: var(--dark-slate-gray);
  color: white;
}

/* Projects
--------------------------------*/
.projects {
  background-color: var(--bone);
}
.projects a {
}
.projects .btn {
  color: var(--bone);
  background-color: var(--dark-slate-gray);
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.projects .btn:hover {
  background-color: hsla(180, 25%, 25%, 80%);
}

/* Work Experience
--------------------------------*/
.work-experience {
  background-color: var(--light-gray);
}

/* Education
--------------------------------*/

/* Contact Info
--------------------------------*/
footer {
  background-color: var(--independence);
  color: white;
}

.contact-info-links a {
  color: var(--bone);
}
