/* About
---------------------------*/

.aboutMindMap-flexContainer {
  background-color: var(--primary-color);
  color: var(--text-on-primary-color);
  margin: 4% 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.aboutMindMap-flexItem {
  flex: 1;
  padding: 20px;
  min-width: 300px;
}

@media screen and (min-width: 600px) {
  .aboutMindMap .details div {
    flex: 1 50%;
  }
  .aboutMindMap .details div p {
    padding-right: 15px;
  }
}

@media screen and (min-width: 1070px) {
  .aboutMindMap .details div {
    flex: 1 33%;
  }
}