/* Blog Chevron
------------------------------*/

.blogs .oneBlog .chevron {
    margin-right: 2.6%;
    padding-top: 35px;
    margin-bottom: -119px;
    text-align: right;
  }
  
  .blogs .oneBlog i:first-of-type {
    padding: 20px;
    color: black;
    background-color: inherit;
  }
  
  .blogs .oneBlog i:first-of-type:hover {
    color: var(--beige);
    background-color: var(--green-green-beige);
  }
  
  @media screen and (hover: none) {
    .blogs .oneBlog i:first-of-type:hover {
      color: black;
      background-color: inherit;
    }
  }
  
  /* Blogs 
  ---------------------------*/
  
  .blogs img {
    width: 600px;
    max-width: 100%;
    padding: 15px;
    display: block;
    margin: 0 auto;
  }
  
  .blogs .oneBlog p:first-of-type img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    padding: 0px;
    padding-bottom: 20px;
  }
  
  .blogs .oneBlog h1:first-of-type {
    padding-bottom: 30px;
    margin-bottom: 0;
    margin-right: 8%;
  }
  
  .blogs .oneBlog p:first-of-type {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-top: 0;
  }
  
  .blogs .oneBlog {
    background-image: url("../images/beige_white_fog_compressed_moz.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 4% 0;
  }
  
  .blogs .oneBlog p:not(:first-of-type),
  .blogs .oneBlog h1:not(:first-of-type),
  .blogs .oneBlog h2,
  .blogs .oneBlog h3,
  .blogs .oneBlog table {
    display: none;
  }
  
  .blogs .oneBlog p.show:not(:first-of-type),
  .blogs .oneBlog h1.show:not(:first-of-type),
  .blogs .oneBlog h2.show,
  .blogs .oneBlog h3.show,
  .blogs .oneBlog table.show {
    display: block;
  }
  
  .blogs .oneBlog thead,
  .blogs .oneBlog tr,
  .blogs .oneBlog tbody,
  .blogs .oneBlog th,
  .blogs .oneBlog td {
    display: none;
  }
  
  .blogs .oneBlog thead.show {
    display: table-header-group;
  }
  
  .blogs .oneBlog tr.show {
    display: table-row;
  }
  
  .blogs .oneBlog tbody.show {
    display: table-row-group;
  }
  
  .blogs .oneBlog th.show,
  .blogs .oneBlog td.show {
    display: table-cell;
  }
  
  .blogs .oneBlog li {
    display: none;
  }
  
  .blogs .oneBlog li.show {
    display: list-item;
  }
  
  /* Blog Downlink
  ---------------------------*/
  
  .blogs .downloadLink {
    text-align: right;
    padding: 20px;
    margin-top: -108px;
    display: none;
  }
  
  @media screen and (hover: hover) {
    .blogs .oneBlog .downloadLink.show {
      display: block;
    }
  }
  
  .blogs .oneBlog .downloadLink i.fas.fa-download {
    font-size: 1em;
    color: gray;
  }
  
  /* Blog Overlay
  --------------------------------*/
  
  .overlay {
    position: absolute;
    width: 95%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: var(--beige);
  }
  
  /* The overlay isn't needed anymore because of the notFocused.
  All opacity for the overlay have been removed in the css.
  The code needs to be adapted before removing the rest of the overlay css
  because it breaks otherwise */
  
  @media screen and (hover: hover) {
    .blogs .oneBlog.notFocused {
      opacity: 0.2;
      transition: 1s ease;
    }
    .blogs .oneBlog.focused {
      opacity: 1;
      transition: 1s ease;
    }
  }
  
  .overlayText {
    color: var(--green-green-beige);
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  
  @media screen and (min-width: 1300px) {
    .overlay {
      width: 80%;
    }
  }
  
  @media screen and (hover: none) {
    .blogs .oneBlog:hover .overlay {
      opacity: 0;
    }
  }