/* Blogs
---------------------------*/

.blogs-flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.blogs-flexItem {
  margin: 20px;
  flex-grow: 0;
}

.blog-gridContainer {
  background-color: #e3e0cf;
  width: 280px;
  height: 452px;
  display: grid;
  grid-template-rows: auto auto;
  text-decoration: none;
  color: black;
}

.blog-gridContainer img {
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  max-width: 240px;
  max-height: 300px;
  min-width: 240px;
  min-height: 300px;
  object-fit: cover;
  margin: 0 auto;
}

.blog-gridContainer h1 {
  text-align: center;
  max-width: 280px;
  padding: 20px;
  margin-block-start: 0;
  margin-block-end: 0;
}

@media screen and (hover: hover) {
  .blogs-flexItem.notFocused {
    opacity: 0.2;
    transition: 1s ease;
  }
  .blogs-flexItem.focused {
    opacity: 1;
    transition: 1s ease;
  }
}
