:root {
  --green-green-beige: #9fa8a3;
  --green-beige: #c5d5cb;
  --beige: #e3e0cf;
}

/* Global styles
--------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1em;

  /* the contact page had no scroll bar so the menus would move when navigating there */
  overflow-y: scroll; 

  /* zoomed image makes horizontal scrollbar appear and not needed */
  overflow-x: hidden;
  
}
@media screen and (min-width: 735px) {
  body {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1300px) {
  body {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 735px) {
  h1 {
    font-size: 1.2em;
  }
}


ul {
  list-style-type: circle;
}

/* Content
---------------------------*/

.content {
  background-color: white;
  display: flex;
  width: 95%;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  align-content: stretch;
  margin-top: 1%;
}

@media screen and (min-width: 1300px) {
  .content {
    width: 80%;
  }
}

